@font-face {
  font-family: inter;
  src: url('/Inter-Medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, sans-serif;
  font-style: normal;
  line-height: 34px;
  color: #3e4462;

}
html {
  font-size: 62.5%;
}
@media (max-width: 100px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 45.5%;
  }
}

