.main {
  color: #3e4462;
  text-align: center;
}
.homeHero {
  max-width: 54rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
 margin-bottom: 8rem;


}
.homeHero_heading {
  font-size: 6.5rem;
  line-height: 8rem;
  font-weight: 900;
}
.homeHero_Paragraph {
  font-size: 2rem;
  line-height: 3rem;
  font-weight:100;
  max-width: 44.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

}
.pickRepos {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 2rem 0;
}

.suggestedReposContainer {
  display: flex;
  align-items: center;
  justify-content: center;
 
}


@media (max-width: 1000px) {
  .suggestedReposContainer {
    display: grid;
    grid-gap: 1rem;
    place-items: center;
   
  }
}
